@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
    --azul-base: #2A7AE4;
    --azul-hover: #5595E9;
    --transparente-hover: #D4E4FA;
    --branco-texto: #fff;
    --cinza-texto: #464646;
    --light-texto: 400;
    --bold-texto: 600;
    --superbold-texto: 700;
    --font-base: 'Raleway', sans-serif;
}

* {
    font-family: var(--font-base);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.botao__azul--light {
    border: none;
    background-color: var(--azul-base);
    color: var(--branco-texto);
    font-size: 16px;
    font-weight: var(--light-texto);
    cursor: pointer;
    transition: 180ms all ease-in-out;
}

.botao__azul--light:hover {
    background-color: var(--azul-hover);
}

.botao__transparente--light {
    background: none;
    color: var(--azul-base);
    font-size: 16px;
    font-weight: var(--light-texto);
    border: 1px solid var(--azul-base);
    cursor: pointer;
    transition: 180ms all ease-in-out;
}

.botao__transparente--light:hover {
    background-color: var(--transparente-hover);
}

.botao__azul--bold,
.botao__transparente--bold {
    font-size: 14px;
    font-weight: var(--bold-texto);
}