.adicionar__produtos__botao {
    padding: 15px;
}

.produtos__completo {
    padding: 32px 8rem;
}

.produtos__completo__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.produtos__completo__imagem:hover {
    opacity: 0.8;
    transition: 180ms all ease-in-out;
}

.produtos__completo__imagem__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.produto__icon__container {
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
}

.produto__completo__icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(276deg) brightness(103%) contrast(101%);
}

.produto__completo__icon:first-of-type:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(14%) sepia(58%) saturate(5994%) hue-rotate(353deg) brightness(98%) contrast(104%);
    transition: 80ms all ease-in-out;
}

.produto__completo__icon:last-of-type:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(51%) sepia(100%) saturate(2087%) hue-rotate(83deg) brightness(102%) contrast(100%);
    transition: 80ms all ease-in-out;
}